$login-bg:            #2c3338;
$login-input-bg:      #3b4148;
$login-input-focus:   #3273AF;
$login-input-icon-bg: #363b41;
$login-submit-bg:     #3da7f2;
$login-submit-dark:   #1168B9;
$login-input-color:   #ABB6C1;

.login-page {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background: $login-bg;
}

.login-form {

  input {
    font-size: 14px;
    -webkit-appearance: none;
    height: 50px;
  }

  label {
    display: block;
    position: relative;
    margin-bottom: 1em;
    overflow: hidden;
  }

  &__placeholder {
    position: absolute;
    right: -65px;
    font-size: 10px;
    color: #fff;
    padding: 3px 5px;
    transition: transform 0.3s cubic-bezier(0.2, 1, 0.3, 1);

    &.in {
      transform: translateX(-65px);
    }
  }

  &__input {
    border: 1px solid transparent;
    border-left: none;
    background-color: $login-input-bg;
    border-radius: 0px 3px 3px 0px;
    color: $login-input-color;
    padding: 0 15px;
    width: 230px;
    transition: border 0.233s ease;

    &:focus {
      border-color: $login-input-focus;
      & + span {
        border-color: $login-input-focus;
      }
    }
  }

  &__icon {
    background-color: $login-input-icon-bg;
    border-radius: 3px 0px 0px 3px;
    color: $login-input-color;
    display: flex;
    justify-content: center;
    float: left;
    height: 50px;
    width: 50px;
    border: 1px solid transparent;
    border-right: none;
    transition: border 0.233s ease;

    svg path {
      fill: $login-input-color;
    }
  }

  &__submit {
    border: none;
    cursor: pointer;
    border-radius: 3px;
    background-color: $login-submit-bg;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    border-bottom: 3px solid $login-submit-dark;
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
    width: 280px;
    transition: background 0.4s ease;

    &:hover {
      background-color: darken($login-submit-bg, 10);
    }
  }
}