.message-box {
  flex: 1;

  &__list {
    height: calc(100vh - 68px);
    overflow: auto;
  }

  &__item {
    margin-top: 15px;
    border-top: 1px solid #eee;
    position: relative;
    overflow: auto;
    
    &__contents, &__properties, &--read {
      margin: 0 15px;
      padding-left: 60px;
    }

    &__contents {
      padding-bottom: 5px;   
    }

    &__properties {
      overflow: auto;
      font-weight: 600;
      padding-top: 12px;

      author {
        float: left;
      }

      time {
        float: right;
        line-height: 2.3;
        font-size: 0.7em;
        margin-left: 10px;
        text-transform: uppercase;
        color: #bbb;
      }
    }

    &__thumbnail {
      position: absolute;
      width: 40px;
      height: 40px;
      left: 20px;
      top: 12px;
      img {
        width: 100%;
        border-radius: 50%;
      }
    }

    &--no-padding, &:first-child {
      margin: 0;
      border: none;
    }

    // &--no-padding {
    //   .message-box__item__contents {
    //     padding: 0 0 10px 50px;
    //   }
    // }

    &--read {
      font-size: 10px;
      font-weight: bold;
    }
  }

  .reply-box {
    position: absolute;
    left: 220px;
    bottom: 0;
    right: 0;
  }
}