.message-box {
  flex: 1;
  // background: url('../images/Home.png');
  // background-size: 155%;
  // background-repeat: no-repeat;
  // background-position: -375px -198px;

  &__list {
    height: calc(100vh - 79px);
    overflow: auto;
    @include fadeIn();
  }

  &__item {
    margin-top: 15px;
    border-top: 1px solid #eee;
    position: relative;
    overflow: auto;
    
    &__contents, &__properties, &--read {
      margin: 0 15px;
      padding-left: 53px;
    }

    &__contents {
      padding-bottom: 5px;   
    }

    &__properties {
      overflow: auto;
      font-weight: 600;
      padding-top: 8px;

      author {
        float: left;
        font-size: 1.1em;
        color: #404346;
      }

      time {
        float: right;
        line-height: 2.7;
        font-size: 0.65em;
        margin-left: 10px;
        text-transform: uppercase;
        color: #bbb;
      }
    }

    &__thumbnail {
      position: absolute;
      width: 42px;
      height: 42px;
      left: 15px;
      top: 9px;
      img {
        width: 100%;
        border-radius: 50%;
      }
    }

    &--no-padding, &:first-child {
      margin: 0;
      border: none;
    }

    // &--no-padding {
    //   .message-box__item__contents {
    //     padding: 0 0 10px 50px;
    //   }
    // }

    &--read {
      font-size: 10px;
      font-weight: bold;
    }
  }

  .reply-box {
    position: absolute;
    left: 220px;
    bottom: 0;
    right: 0;
  }
}