.message-box {
  flex: 1;

  &__list {
    height: calc(100vh - 68px);
    overflow: auto;
  }

  &__item {
    position: relative;
    overflow: auto;

    &__contents {
      padding: 0 0 10px 50px;   
      margin: 0 15px;
    }

    &__properties {
      overflow: auto;
      margin-left: 65px;
      font-weight: 600;
      padding-top: 10px;

      author, time {
        float: left;
      }

      time {
        line-height: 2.3;
        font-size: 0.7em;
        margin-left: 10px;
        text-transform: uppercase;
        color: #bbb;
      }
    }

    &__thumbnail {
      position: absolute;
      width: 36px;
      height: 36px;
      left: 20px;
      top: 10px;
      img {
        width: 100%;
        border-radius: 50%;
      }
    }

    &--no-padding {
      .message-box__item__contents {
        padding: 0 0 10px 50px;
      }
    }

    &--read {
      margin-left: 65px;
      background: none;
      font-size: 10px;
      color: rgba( 0, 0, 0, 0.8 );
      font-weight: bold;
    }
  }

  .reply-box {
    position: absolute;
    left: 220px;
    bottom: 0;
    right: 0;
  }
}