.user-list {
  width: 220px;
  color: #ccc;
  background: $bg-color;

  &__item {
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
      background: #4A5664;
    }

    &--new {

    }

    &--active {
      color: #fff;
      background: $active-color;

      &:hover {
          background: $active-color;
      }
    }

    &__name {
      margin: 0;
      font-size: 14px;
      font-weight: inherit;
    }
  }
}