$bg-color: #303E4D;
$active-color: #6698C8;

.user-list {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 220px;
	color: #ccc;
	background: $bg-color;

	&__item {
		padding: 5px 10px;
		cursor: pointer;

		&--new {
			background: #EEF1F6;
			font-weight: 500;

			.user-list__item__icon {
				color: #1D9BCE;
				margin-right: 3px;
			}
		}

		&--active {
			color: #fff;
			background: $active-color;
		}

		&__name {
			margin: 3px 0 0 0;
			font-size: 16px;
			font-weight: inherit;
		}
	}
}